        body { color: black; background-color: white; }
        a img { border-width: 0; }
        address { font-size: small; font-style: normal; }

        div#footer,
        div.comicdiv { border-top: thin solid black; }

        /* Styling for captions on mobile devices */
        .caption { display: none; font-size:x-large; padding: 3px; }
        @media screen and (max-device-width: 480px) { img{width:100%;} p.caption { display:inline; } }
        @media screen and (min-device-width: 768px) and (max-device-width: 1024px) { img{ width:100%;} p.caption { display:inline; } }

