<ul>
  <li> <a href="http://www.achewood.com">Achewood</a> (achewood)
  <li> <a href="http://www.gocomics.com/adamathome/">Adam@Home</a> (adam_at_home)
  <li> <a href="http://alienlovespredator.com/">Alien Loves Predator</a> (alien_loves_predator)
  <li> <a href="http://www.applegeeks.com">Applegeeks</a> (applegeeks)
  <li> <a href="http://www.realmofatland.com">Atland</a> (atland)
  <li> <a href="http://buttersafe.com/">Buttersafe</a> (buttersafe)
  <li> <a href="http://www.gocomics.com/calvinandhobbes/">Calvin and Hobbes</a> (calvin_and_hobbes)
  <li> <a href="http://www.gocomics.com/cathy/">Cathy</a> (cathy)
  <li> <a href="http://www.choppingblock.org/">Chopping Block</a> (choppingblock)
  <li> <a href="http://www.cad-comic.com/cad/">Ctrl+Alt+Del</a> (ctrlaltdel)
  <li> <a href="http://www.gocomics.com/dicktracy/">Dick Tracy</a> (dick_tracy)
  <li> <a href="http://www.dieselsweeties.com/">Diesel Sweeties</a> (diesel_sweeties)
  <li> <a href="http://www.dilbert.com/fast">Dilbert</a> (dilbert)
  <li> <a href="http://www.gocomics.com/doonesbury/">Doonesbury</a> (doonesbury)
  <li> <a href="http://www.giantitp.com">Erfworld</a> (erfworld)
  <li> <a href="http://www.errantstory.com/">Errant Story</a> (errantstory)
  <li> <a href="http://exocomics.com/">Extra Ordinary</a> (extraordinary)
  <li> <a href="http://nodwick.humor.gamespy.com/ffn">Full Frontal Nerdity</a> (ffn)
  <li> <a href="http://www.gocomics.com/foxtrot/">FoxTrot</a> (foxtrot)
  <li> <a href="http://www.gocomics.com/garfield/">Garfield</a> (garfield)
  <li> <a href="http://www.gocomics.com/getfuzzy/">Get Fuzzy</a> (getfuzzy)
  <li> <a href="http://www.glasbergen.com">Glasbergen</a> (glasbergen)
  <li> <a href="http://www.goats.com">Goats</a> (goats)
  <li> <a href="http://goblinscomic.com">Goblins</a> (goblins)
  <li> <a href="http://www.girlswithslingshots.com/">Girls with Slingshots</a> (gws)
  <li> <a href="http://www.gocomics.com/herman/">Herman</a> (herman)
  <li> <a href="http://www.irregularwebcomic.net/">Irregular Webcomic</a> (irregular)
  <li> <a href="http://www.geekculture.com/joyoftech/">The Joy of Tech</a> (joy_of_tech)
  <li> <a href="http://www.kevinandkell.com/">Kevin and Kell</a> (kevin_and_kell)
  <li> <a href="http://www.creators.com/comics/liberty-meadows.html">Liberty Meadows</a> (liberty_meadows)
  <li> <a href="http://www.little-gamers.com/">Little Gamers</a> (little_gamers)
  <li> <a href="http://www.machall.com/">MacHall</a> (machall)
  <li> <a href="http://www.megatokyo.com/">MegaTokyo</a> (megatokyo)
  <li> <a href="http://www.gocomics.com/monty/">Monty</a> (monty)
  <li> <a href="http://www.grimmy.com/comics.php">Mother Goose &amp; Grimm</a> (mother_goose)
  <li> <a href="http://www.nedroid.com/">Nedroid</a> (nedroid)
  <li> <a href="http://www.gocomics.com/9to5/">9 to 5</a> (nine_to_five)
  <li> <a href="http://nodwick.humor.gamespy.com/gamespyarchive">Nodwick</a> (nodwick)
  <li> <a href="http://www.gocomics.com/nonsequitur/">Non Sequitur</a> (non_sequitur)
  <li> <a href="http://theoatmeal.com/comics/">The Oatmeal</a> (oatmeal)
  <li> <a href="http://www.gocomics.com/offthemark/">Off the Mark</a> (offthemark)
  <li> <a href="http://www.giantitp.com">Order of the Stick</a> (oots)
  <li> <a href="http://www.partiallyclips.com/">PartiallyClips</a> (partiallyclips)
  <li> <a href="http://www.gocomics.com/pearlsbeforeswine/">Pearls Before Swine</a> (pearls)
  <li> <a href="http://www.penny-arcade.com/comic">Penny Arcade</a> (penny_arcade)
  <li> <a href="http://www.phdcomics.com/comics.php">Piled Higher and Deeper</a> (phd)
  <li> <a href="http://www.picturesforsadchildren.com">Pictures for Sad Children</a> (pictures_for_sad_children)
  <li> <a href="http://www.pvponline.com/">pVp</a> (pvp)
  <li> <a href="http://questionablecontent.net/">Questionable Content</a> (questionable_content)
  <li> <a href="http://www.gocomics.com/reallifeadventures/">Real Life Adventures</a> (real_life_adventures)
  <li> <a href="http://www.redmeat.com/redmeat/current/">Red Meat</a> (redmeat)
  <li> <a href="http://www.gocomics.com/roseisrose/">Rose is Rose</a> (rose_is_rose)
  <li> <a href="http://www.savagechickens.com/">Savage Chickens</a> (savage_chickens)
  <li> <a href="http://www.schlockmercenary.com/">Schlock Mercenary</a> (schlock_mercenary)
  <li> <a href="http://www.slagoon.com/cgi-bin/sviewer.pl">Sherman's Lagoon</a> (sherman)
  <li> <a href="http://www.ruthe.de/">Shit Happens</a> (shithappens)
  <li> <a href="http://sinfest.net/">Sinfest</a> (sinfest)
  <li> <a href="http://www.sluggy.com/">Sluggy Freelance</a> (sluggy_freelance)
  <li> <a href="http://www.smbc-comics.com/">Saturday Morning Breakfast Cereal</a> (smbc)
  <li> <a href="http://www.toothpastefordinner.com/">Toothpaste for Dinner</a> (toothpastefordinner)
  <li> <a href="http://www.unshelved.com">Unshelved</a> (unshelved)
  <li> <a href="http://www.userfriendly.org/static/">User Friendly</a> (user_friendly)
  <li> <a href="http://wallyandosborne.com/">Wally and Osborne</a> (wallyandosborne)
  <li> <a href="http://wondermark.com/">Wondermark</a> (wondermark)
  <li> <a href="http://xkcd.com/">xkcd</a> (xkcd)
  <li> <a href="http://www.gocomics.com/ziggy/">Ziggy</a> (ziggy)
</ul>
